.formContainer {
	margin: auto;
	padding: 5%;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-image: radial-gradient(
		circle,
		#441f91,
		#7157af,
		#9e8dcc,
		#ccc5e6,
		#ffffff
	);
	width: 95%;
}
